<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_irAeEMo3Eeiz47OJZJo3-Q" specification="@EventDriven&#xA;// Use the event driven execution model.&#xA;// Runs a run-to-completion step&#xA;// each time an event is raised.&#xA;// Switch to cycle based behavior&#xA;// by specifying '@CycleBased(200)'&#xA;// instead.&#xA;&#xA;@ChildFirstExecution&#xA;// In composite states, execute&#xA;// child states first.&#xA;// @ParentFirstExecution does the opposite.&#xA;import: &quot;tdma_params.h&quot;&#xA;import: &quot;master.h&quot;&#xA;import: &quot;s_sync.h&quot;&#xA;&#xA;interface:&#xA;&#x9;in event packet_sent: int64_t&#xA;&#x9;in event packet_received: int64_t&#xA;&#x9;in event tdma_slot: uint8_t&#xA;&#x9;var rx_packet: pointer&lt;uint8_t>&#xA;&#x9;&#xA;internal :&#xA;&#x9;var sync_tx_ts: int64_t&#xA;&#x9;var  slave_index: uint8_t" name="master_sc" domainID="com.yakindu.domain.c">
    <regions xmi:id="_irDhY8o3Eeiz47OJZJo3-Q" name="main region">
      <vertices xsi:type="sgraph:State" xmi:id="_irGkt8o3Eeiz47OJZJo3-Q" specification="entry/&#xD;&#xA;sendPacket(sync_packet)" name="Sync" incomingTransitions="_fv5vcOFPEeiInNNKMgBzSg _V62ogOUWEeiInNNKMgBzSg">
        <outgoingTransitions xmi:id="_LJrq4OWYEeiInNNKMgBzSg" specification="packet_sent" target="_nyskoOWWEeiInNNKMgBzSg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_Gd3dcMo4Eeiz47OJZJo3-Q" specification="entry/&#xD;&#xA;sendPacket(followup_packet)" name="FollowUp" incomingTransitions="_JZFRYMo4Eeiz47OJZJo3-Q">
        <outgoingTransitions xmi:id="_5T8kYMo4Eeiz47OJZJo3-Q" specification="tdma_slot" target="_Yo2cYOWxEeiInNNKMgBzSg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_wC_9cMo4Eeiz47OJZJo3-Q" specification="entry / relative_slave_ts[slave_index]=&#xD;&#xA;&#x9;(valueof(packet_received)-sync_tx_ts) as uint32_t;&#xD;&#xA;setDelayResp(&#xD;&#xA;&#x9;sync_packet,&#xD;&#xA;&#x9;relative_slave_ts[slave_index],&#xD;&#xA;&#x9;slave_index)" name="rx" incomingTransitions="_AviEkOW2EeiInNNKMgBzSg">
        <outgoingTransitions xmi:id="_M1jUwMuXEeii69mksrPYcg" specification="tdma_slot " target="_P7HoEOFPEeiInNNKMgBzSg"/>
      </vertices>
      <vertices xsi:type="sgraph:Entry" xmi:id="_7yk2wNL7EeiSs4DiSAeLPQ">
        <outgoingTransitions xmi:id="_8gLjoNL7EeiSs4DiSAeLPQ" specification="" target="__A5DoOUUEeiInNNKMgBzSg"/>
      </vertices>
      <vertices xsi:type="sgraph:Choice" xmi:id="_P7HoEOFPEeiInNNKMgBzSg" incomingTransitions="_M1jUwMuXEeii69mksrPYcg _r1QPwOXFEeiInNNKMgBzSg">
        <outgoingTransitions xmi:id="_ZiQhcOFPEeiInNNKMgBzSg" specification="else" target="_Yo2cYOWxEeiInNNKMgBzSg"/>
        <outgoingTransitions xmi:id="_fv5vcOFPEeiInNNKMgBzSg" specification="[valueof(tdma_slot) == 0]" target="_irGkt8o3Eeiz47OJZJo3-Q"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="__A5DoOUUEeiInNNKMgBzSg" specification="entry/&#xD;&#xA;setSourceAddress(sync_packet, 0);&#xD;&#xA;setPacketType(sync_packet, SYNC);&#xD;&#xA;&#xD;&#xA;setSourceAddress(followup_packet,0);&#xD;&#xA;setPacketType(followup_packet, FOLLOW_UP)" name="init" incomingTransitions="_8gLjoNL7EeiSs4DiSAeLPQ">
        <outgoingTransitions xmi:id="_V62ogOUWEeiInNNKMgBzSg" specification="tdma_slot [valueof(tdma_slot) == 0]" target="_irGkt8o3Eeiz47OJZJo3-Q"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_nyskoOWWEeiInNNKMgBzSg" specification="entry / sync_tx_ts = valueof(packet_sent);&#xD;&#xA;setSyncTimeStamp(followup_packet,sync_tx_ts)" name="sync timestamp" incomingTransitions="_LJrq4OWYEeiInNNKMgBzSg">
        <outgoingTransitions xmi:id="_JZFRYMo4Eeiz47OJZJo3-Q" specification="tdma_slot [valueof(tdma_slot) == 1]" target="_Gd3dcMo4Eeiz47OJZJo3-Q"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_Yo2cYOWxEeiInNNKMgBzSg" specification="entry /&#xD;&#xA;slave_index = valueof(tdma_slot)-2;&#xD;&#xA;startRecevie();&#xD;&#xA;relative_slave_ts[slave_index]=0;&#xD;&#xA;setDelayResp(sync_packet,0,slave_index)" name="slot start" incomingTransitions="_ZiQhcOFPEeiInNNKMgBzSg _5T8kYMo4Eeiz47OJZJo3-Q">
        <outgoingTransitions xmi:id="_AviEkOW2EeiInNNKMgBzSg" specification="packet_received" target="_wC_9cMo4Eeiz47OJZJo3-Q"/>
        <outgoingTransitions xmi:id="_r1QPwOXFEeiInNNKMgBzSg" specification="tdma_slot" target="_P7HoEOFPEeiInNNKMgBzSg"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_irDhYMo3Eeiz47OJZJo3-Q" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_irAeEMo3Eeiz47OJZJo3-Q" measurementUnit="Pixel">
    <children xmi:id="_irEIcMo3Eeiz47OJZJo3-Q" type="Region" element="_irDhY8o3Eeiz47OJZJo3-Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_irEvgMo3Eeiz47OJZJo3-Q" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_irEvgco3Eeiz47OJZJo3-Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_irFWkMo3Eeiz47OJZJo3-Q"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_irFWkco3Eeiz47OJZJo3-Q" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_irHy0Mo3Eeiz47OJZJo3-Q" type="State" element="_irGkt8o3Eeiz47OJZJo3-Q">
          <children xsi:type="notation:DecorationNode" xmi:id="_irIZ4Mo3Eeiz47OJZJo3-Q" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_irIZ4co3Eeiz47OJZJo3-Q"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_irIZ4so3Eeiz47OJZJo3-Q"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_irJA8Mo3Eeiz47OJZJo3-Q" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_irJoAMo3Eeiz47OJZJo3-Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_irJoAco3Eeiz47OJZJo3-Q"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_irJoAso3Eeiz47OJZJo3-Q" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_irHy0co3Eeiz47OJZJo3-Q" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_irHy0so3Eeiz47OJZJo3-Q"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_irJoA8o3Eeiz47OJZJo3-Q" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_irKPEMo3Eeiz47OJZJo3-Q" x="23" y="176" width="191" height="78"/>
        </children>
        <children xmi:id="_Gd4Egso4Eeiz47OJZJo3-Q" type="State" element="_Gd3dcMo4Eeiz47OJZJo3-Q">
          <children xsi:type="notation:DecorationNode" xmi:id="_Gd4rkMo4Eeiz47OJZJo3-Q" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_Gd4rkco4Eeiz47OJZJo3-Q"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_Gd4rkso4Eeiz47OJZJo3-Q"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_Gd4rk8o4Eeiz47OJZJo3-Q" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_Gd5SoMo4Eeiz47OJZJo3-Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Gd5Soco4Eeiz47OJZJo3-Q"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_Gd5Soso4Eeiz47OJZJo3-Q" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_Gd4Eg8o4Eeiz47OJZJo3-Q" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_Gd4EhMo4Eeiz47OJZJo3-Q"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_Gd5So8o4Eeiz47OJZJo3-Q" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Gd4Ehco4Eeiz47OJZJo3-Q" x="23" y="440" width="216" height="78"/>
        </children>
        <children xmi:id="_wDAkgMo4Eeiz47OJZJo3-Q" type="State" element="_wC_9cMo4Eeiz47OJZJo3-Q">
          <children xsi:type="notation:DecorationNode" xmi:id="_wDBLkMo4Eeiz47OJZJo3-Q" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_wDBLkco4Eeiz47OJZJo3-Q"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_wDBLkso4Eeiz47OJZJo3-Q"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_wDBLk8o4Eeiz47OJZJo3-Q" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_wDBLlMo4Eeiz47OJZJo3-Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_wDBLlco4Eeiz47OJZJo3-Q"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_wDBLlso4Eeiz47OJZJo3-Q" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_wDAkgco4Eeiz47OJZJo3-Q" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_wDAkgso4Eeiz47OJZJo3-Q"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_wDBLl8o4Eeiz47OJZJo3-Q" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_wDAkg8o4Eeiz47OJZJo3-Q" x="685" y="422" width="428" height="161"/>
        </children>
        <children xmi:id="_7ypvQNL7EeiSs4DiSAeLPQ" type="Entry" element="_7yk2wNL7EeiSs4DiSAeLPQ">
          <children xmi:id="_7ysLgNL7EeiSs4DiSAeLPQ" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_7ytZoNL7EeiSs4DiSAeLPQ" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_7ytZodL7EeiSs4DiSAeLPQ"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_7ytZotL7EeiSs4DiSAeLPQ"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_7ysLgdL7EeiSs4DiSAeLPQ" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_7ysLgtL7EeiSs4DiSAeLPQ"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_7ypvQdL7EeiSs4DiSAeLPQ" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_7ypvQtL7EeiSs4DiSAeLPQ" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_7ypvQ9L7EeiSs4DiSAeLPQ" x="421" y="20"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_P7I2MOFPEeiInNNKMgBzSg" type="Choice" element="_P7HoEOFPEeiInNNKMgBzSg" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_P7I2MeFPEeiInNNKMgBzSg" x="469" y="212"/>
        </children>
        <children xmi:id="__BC0ouUUEeiInNNKMgBzSg" type="State" element="__A5DoOUUEeiInNNKMgBzSg">
          <children xsi:type="notation:DecorationNode" xmi:id="__BC0puUUEeiInNNKMgBzSg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="__BC0p-UUEeiInNNKMgBzSg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="__BC0qOUUEeiInNNKMgBzSg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="__BC0qeUUEeiInNNKMgBzSg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="__BC0quUUEeiInNNKMgBzSg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="__BC0q-UUEeiInNNKMgBzSg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="__BC0rOUUEeiInNNKMgBzSg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="__BC0o-UUEeiInNNKMgBzSg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="__BC0pOUUEeiInNNKMgBzSg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="__BC0reUUEeiInNNKMgBzSg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="__BC0peUUEeiInNNKMgBzSg" x="23" y="8" width="326" height="138"/>
        </children>
        <children xmi:id="_nysko-WWEeiInNNKMgBzSg" type="State" element="_nyskoOWWEeiInNNKMgBzSg">
          <children xsi:type="notation:DecorationNode" xmi:id="_nyskp-WWEeiInNNKMgBzSg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_nyskqOWWEeiInNNKMgBzSg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_nyskqeWWEeiInNNKMgBzSg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_nyskquWWEeiInNNKMgBzSg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_nyskq-WWEeiInNNKMgBzSg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nyskrOWWEeiInNNKMgBzSg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_nyskreWWEeiInNNKMgBzSg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_nyskpOWWEeiInNNKMgBzSg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_nyskpeWWEeiInNNKMgBzSg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_nyskruWWEeiInNNKMgBzSg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nyskpuWWEeiInNNKMgBzSg" x="23" y="296" width="349" height="78"/>
        </children>
        <children xmi:id="_YpANYuWxEeiInNNKMgBzSg" type="State" element="_Yo2cYOWxEeiInNNKMgBzSg">
          <children xsi:type="notation:DecorationNode" xmi:id="_YpANZuWxEeiInNNKMgBzSg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_YpANZ-WxEeiInNNKMgBzSg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_YpANaOWxEeiInNNKMgBzSg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_YpANaeWxEeiInNNKMgBzSg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_YpANauWxEeiInNNKMgBzSg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_YpANa-WxEeiInNNKMgBzSg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_YpANbOWxEeiInNNKMgBzSg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_YpANY-WxEeiInNNKMgBzSg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_YpANZOWxEeiInNNKMgBzSg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_YpANbeWxEeiInNNKMgBzSg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_YpANZeWxEeiInNNKMgBzSg" x="295" y="422" height="114"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_irFWkso3Eeiz47OJZJo3-Q"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_irEIcco3Eeiz47OJZJo3-Q" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_irFWk8o3Eeiz47OJZJo3-Q" x="48" y="24" width="1323" height="640"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_irMrUMo3Eeiz47OJZJo3-Q" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_irQVsMo3Eeiz47OJZJo3-Q" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_irQVsco3Eeiz47OJZJo3-Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_irQVsso3Eeiz47OJZJo3-Q"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_irQVs8o3Eeiz47OJZJo3-Q" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_irQVtMo3Eeiz47OJZJo3-Q"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_irRj0Mo3Eeiz47OJZJo3-Q" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_irDhYco3Eeiz47OJZJo3-Q" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_irDhYso3Eeiz47OJZJo3-Q"/>
    <edges xmi:id="_JZGfgMo4Eeiz47OJZJo3-Q" type="Transition" element="_JZFRYMo4Eeiz47OJZJo3-Q" source="_nysko-WWEeiInNNKMgBzSg" target="_Gd4Egso4Eeiz47OJZJo3-Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_JZHGkMo4Eeiz47OJZJo3-Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_JZHGkco4Eeiz47OJZJo3-Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_JZHGkso4Eeiz47OJZJo3-Q" x="7" y="-48"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_JZGfgco4Eeiz47OJZJo3-Q" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_JZGfg8o4Eeiz47OJZJo3-Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_JZGfgso4Eeiz47OJZJo3-Q" points="[5, 7, 0, -95]$[5, 66, 0, -36]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_JZI7wMo4Eeiz47OJZJo3-Q" id="(0.1680061559507524,0.6203153269578702)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_t7gFcMo4Eeiz47OJZJo3-Q" id="(0.28199052132701424,0.5)"/>
    </edges>
    <edges xmi:id="_5T9ygMo4Eeiz47OJZJo3-Q" type="Transition" element="_5T8kYMo4Eeiz47OJZJo3-Q" source="_Gd4Egso4Eeiz47OJZJo3-Q" target="_YpANYuWxEeiInNNKMgBzSg">
      <children xsi:type="notation:DecorationNode" xmi:id="_5T9yhMo4Eeiz47OJZJo3-Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_5T9yhco4Eeiz47OJZJo3-Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_5T9yhso4Eeiz47OJZJo3-Q" x="-1" y="-16"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_5T9ygco4Eeiz47OJZJo3-Q" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_5T9yg8o4Eeiz47OJZJo3-Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_5T9ygso4Eeiz47OJZJo3-Q" points="[34, 16, -311, 3]$[161, 16, -184, 3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_5T_nsMo4Eeiz47OJZJo3-Q" id="(0.8425925925925926,0.3974358974358974)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_J9g7MMuYEeii69mksrPYcg" id="(0.6923076923076923,0.4748401445649152)"/>
    </edges>
    <edges xmi:id="_M2iMMMuXEeii69mksrPYcg" type="Transition" element="_M1jUwMuXEeii69mksrPYcg" source="_wDAkgMo4Eeiz47OJZJo3-Q" target="_P7I2MOFPEeiInNNKMgBzSg">
      <children xsi:type="notation:DecorationNode" xmi:id="_M2jaUMuXEeii69mksrPYcg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_M2jaUcuXEeii69mksrPYcg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_M2jaUsuXEeii69mksrPYcg" x="-40" y="-85"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_M2iMMcuXEeii69mksrPYcg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_M2izQMuXEeii69mksrPYcg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_M2iMMsuXEeii69mksrPYcg" points="[-19, -7, 218, 208]$[-19, -210, 218, 5]$[-232, -210, 5, 5]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_M2nEsMuXEeii69mksrPYcg" id="(0.18761146364729794,0.04799474030243262)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_M2nEscuXEeii69mksrPYcg" id="(0.6666666666666666,0.13333333333333333)"/>
    </edges>
    <edges xmi:id="_8gNY0NL7EeiSs4DiSAeLPQ" type="Transition" element="_8gLjoNL7EeiSs4DiSAeLPQ" source="_7ypvQNL7EeiSs4DiSAeLPQ" target="__BC0ouUUEeiInNNKMgBzSg">
      <children xsi:type="notation:DecorationNode" xmi:id="_8gOm8NL7EeiSs4DiSAeLPQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_8gOm8dL7EeiSs4DiSAeLPQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_8gOm8tL7EeiSs4DiSAeLPQ" x="-16" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_8gNY0dL7EeiSs4DiSAeLPQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_8gN_4NL7EeiSs4DiSAeLPQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_8gNY0tL7EeiSs4DiSAeLPQ" points="[0, 2, 92, -85]$[-77, 2, 15, -85]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_8gRDMNL7EeiSs4DiSAeLPQ" id="(0.0,0.3333333333333333)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ycfxcOFPEeiInNNKMgBzSg" id="(0.9539877300613497,0.782608695652174)"/>
    </edges>
    <edges xmi:id="_ZiRIgOFPEeiInNNKMgBzSg" type="Transition" element="_ZiQhcOFPEeiInNNKMgBzSg" source="_P7I2MOFPEeiInNNKMgBzSg" target="_YpANYuWxEeiInNNKMgBzSg">
      <children xsi:type="notation:DecorationNode" xmi:id="_ZiRvkOFPEeiInNNKMgBzSg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ZiRvkeFPEeiInNNKMgBzSg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ZiRvkuFPEeiInNNKMgBzSg" x="-69" y="17"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ZiRIgeFPEeiInNNKMgBzSg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ZiRIg-FPEeiInNNKMgBzSg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ZiRIguFPEeiInNNKMgBzSg" points="[-6, 5, -89, -204]$[-6, 200, -89, -9]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ZiTkwOFPEeiInNNKMgBzSg" id="(0.8666666666666667,0.6666666666666666)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ZiTkweFPEeiInNNKMgBzSg" id="(0.9316239316239316,0.09139691881599447)"/>
    </edges>
    <edges xmi:id="_fv69kOFPEeiInNNKMgBzSg" type="Transition" element="_fv5vcOFPEeiInNNKMgBzSg" source="_P7I2MOFPEeiInNNKMgBzSg" target="_irHy0Mo3Eeiz47OJZJo3-Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_fv69lOFPEeiInNNKMgBzSg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_fv69leFPEeiInNNKMgBzSg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_fv69luFPEeiInNNKMgBzSg" x="-14" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_fv69keFPEeiInNNKMgBzSg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_fv69k-FPEeiInNNKMgBzSg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_fv69kuFPEeiInNNKMgBzSg" points="[-15, -8, 317, 4]$[-275, -8, 57, 4]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_fv-A4OFPEeiInNNKMgBzSg" id="(1.0,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_fv-A4eFPEeiInNNKMgBzSg" id="(0.6939437065148641,0.5384615384615384)"/>
    </edges>
    <edges xmi:id="_V62ogeUWEeiInNNKMgBzSg" type="Transition" element="_V62ogOUWEeiInNNKMgBzSg" source="__BC0ouUUEeiInNNKMgBzSg" target="_irHy0Mo3Eeiz47OJZJo3-Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_V62oheUWEeiInNNKMgBzSg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_V62ohuUWEeiInNNKMgBzSg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_V62oh-UWEeiInNNKMgBzSg" x="1" y="-55"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_V62oguUWEeiInNNKMgBzSg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_V62ohOUWEeiInNNKMgBzSg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_V62og-UWEeiInNNKMgBzSg" points="[1, 0, 3, -35]$[1, 23, 3, -12]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_V62oiOUWEeiInNNKMgBzSg" id="(0.1901840490797546,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_V62oieUWEeiInNNKMgBzSg" id="(0.321078431372549,0.16666666666666666)"/>
    </edges>
    <edges xmi:id="_LJrq4eWYEeiInNNKMgBzSg" type="Transition" element="_LJrq4OWYEeiInNNKMgBzSg" source="_irHy0Mo3Eeiz47OJZJo3-Q" target="_nysko-WWEeiInNNKMgBzSg">
      <children xsi:type="notation:DecorationNode" xmi:id="_LJrq5eWYEeiInNNKMgBzSg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_LJrq5uWYEeiInNNKMgBzSg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_LJrq5-WYEeiInNNKMgBzSg" x="1" y="8"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_LJrq4uWYEeiInNNKMgBzSg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_LJrq5OWYEeiInNNKMgBzSg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_LJrq4-WYEeiInNNKMgBzSg" points="[-8, 0, -3, -83]$[-8, 59, -3, -24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_LJrq6OWYEeiInNNKMgBzSg" id="(0.3780439595192916,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_QYRPoOWYEeiInNNKMgBzSg" id="(0.19040697674418605,0.3287671232876712)"/>
    </edges>
    <edges xmi:id="_AviEkeW2EeiInNNKMgBzSg" type="Transition" element="_AviEkOW2EeiInNNKMgBzSg" source="_YpANYuWxEeiInNNKMgBzSg" target="_wDAkgMo4Eeiz47OJZJo3-Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_AviEleW2EeiInNNKMgBzSg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_AviEluW2EeiInNNKMgBzSg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_AviEl-W2EeiInNNKMgBzSg" x="-3" y="-18"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_AviEkuW2EeiInNNKMgBzSg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_AviElOW2EeiInNNKMgBzSg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_AviEk-W2EeiInNNKMgBzSg" points="[108, -7, -206, 16]$[201, -7, -113, 16]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_AviEmOW2EeiInNNKMgBzSg" id="(0.5961538461538461,0.5596330275229358)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_AviEmeW2EeiInNNKMgBzSg" id="(0.26788997710983525,0.3059664694280079)"/>
    </edges>
    <edges xmi:id="_r1QPweXFEeiInNNKMgBzSg" type="Transition" element="_r1QPwOXFEeiInNNKMgBzSg" source="_YpANYuWxEeiInNNKMgBzSg" target="_P7I2MOFPEeiInNNKMgBzSg">
      <children xsi:type="notation:DecorationNode" xmi:id="_r1QPxeXFEeiInNNKMgBzSg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_r1QPxuXFEeiInNNKMgBzSg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_r1QPx-XFEeiInNNKMgBzSg" x="-8" y="41"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_r1QPwuXFEeiInNNKMgBzSg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_r1QPxOXFEeiInNNKMgBzSg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_r1QPw-XFEeiInNNKMgBzSg" points="[160, 0, 56, 203]$[160, -203, 56, 0]$[112, -203, 8, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_r1QPyOXFEeiInNNKMgBzSg" id="(0.28846153846153844,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Y_CHgOZQEeiInNNKMgBzSg" id="(0.5,0.5)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
