<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_B4EXsNVUEeiSs4DiSAeLPQ" specification="@EventDriven&#xA;// Use the event driven execution model.&#xA;// Runs a run-to-completion step&#xA;// each time an event is raised.&#xA;// Switch to cycle based behavior&#xA;// by specifying '@CycleBased(200)'&#xA;// instead.&#xA;&#xA;@ChildFirstExecution&#xA;// In composite states, execute&#xA;// child states first.&#xA;// @ParentFirstExecution does the opposite.&#xA;&#xA;interface:&#xA;&#x9;in event packet_sent&#xA;&#x9;in event packet_rx&#xA;&#x9;in event sync&#xA;&#x9;in event followup&#xA;&#x9;in event tdma_slot: uint8_t&#xA;&#x9;var i: uint8_t&#xA;// Define events&#xA;// and variables here. &#xA;// Use CTRL + Space for content assist." name="slave" domainID="com.yakindu.domain.c">
    <regions xmi:id="_B4enY9VUEeiSs4DiSAeLPQ" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_B4hDoNVUEeiSs4DiSAeLPQ">
        <outgoingTransitions xmi:id="_B4kG8tVUEeiSs4DiSAeLPQ" target="_B4hqt9VUEeiSs4DiSAeLPQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_B4hqt9VUEeiSs4DiSAeLPQ" name="init" incomingTransitions="_B4kG8tVUEeiSs4DiSAeLPQ">
        <outgoingTransitions xmi:id="_iMP-EN6GEeiXB7rXcoDgIg" specification="sync" target="_NDdLcNXrEeiSs4DiSAeLPQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_NDdLcNXrEeiSs4DiSAeLPQ" name="a" incomingTransitions="_iMP-EN6GEeiXB7rXcoDgIg">
        <outgoingTransitions xmi:id="_gi32YN6PEeiXB7rXcoDgIg" specification="followup" target="_fHZ98N6PEeiXB7rXcoDgIg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_fHZ98N6PEeiXB7rXcoDgIg" specification="correctoffset" name="b" incomingTransitions="_gi32YN6PEeiXB7rXcoDgIg">
        <outgoingTransitions xmi:id="_neu_0N6QEeiXB7rXcoDgIg" specification="sync" target="_lk034N6QEeiXB7rXcoDgIg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_lk034N6QEeiXB7rXcoDgIg" name="c" incomingTransitions="_neu_0N6QEeiXB7rXcoDgIg">
        <outgoingTransitions xmi:id="_yX6I0N6QEeiXB7rXcoDgIg" specification="followup" target="_xDTtYN6QEeiXB7rXcoDgIg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_xDTtYN6QEeiXB7rXcoDgIg" specification="correctdrift" name="d" incomingTransitions="_yX6I0N6QEeiXB7rXcoDgIg"/>
      <vertices xsi:type="sgraph:State" xmi:id="_8OtO0N6QEeiXB7rXcoDgIg"/>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_B4enYNVUEeiSs4DiSAeLPQ" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_B4EXsNVUEeiSs4DiSAeLPQ" measurementUnit="Pixel">
    <children xmi:id="_B4fOcNVUEeiSs4DiSAeLPQ" type="Region" element="_B4enY9VUEeiSs4DiSAeLPQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_B4f1gNVUEeiSs4DiSAeLPQ" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_B4f1gdVUEeiSs4DiSAeLPQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_B4f1gtVUEeiSs4DiSAeLPQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_B4gckNVUEeiSs4DiSAeLPQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_B4hDodVUEeiSs4DiSAeLPQ" type="Entry" element="_B4hDoNVUEeiSs4DiSAeLPQ">
          <children xmi:id="_B4hqsNVUEeiSs4DiSAeLPQ" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_B4hqs9VUEeiSs4DiSAeLPQ" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_B4hqtNVUEeiSs4DiSAeLPQ"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_B4hqtdVUEeiSs4DiSAeLPQ"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_B4hqsdVUEeiSs4DiSAeLPQ" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_B4hqstVUEeiSs4DiSAeLPQ"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_B4hDotVUEeiSs4DiSAeLPQ" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_B4hDo9VUEeiSs4DiSAeLPQ" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_B4hqttVUEeiSs4DiSAeLPQ" x="70" y="20"/>
        </children>
        <children xmi:id="_B4iRwtVUEeiSs4DiSAeLPQ" type="State" element="_B4hqt9VUEeiSs4DiSAeLPQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_B4i40NVUEeiSs4DiSAeLPQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_B4i40dVUEeiSs4DiSAeLPQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_B4i40tVUEeiSs4DiSAeLPQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_B4jf4NVUEeiSs4DiSAeLPQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_B4jf4dVUEeiSs4DiSAeLPQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_B4jf4tVUEeiSs4DiSAeLPQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_B4jf49VUEeiSs4DiSAeLPQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_B4iRw9VUEeiSs4DiSAeLPQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_B4iRxNVUEeiSs4DiSAeLPQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_B4kG8NVUEeiSs4DiSAeLPQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_B4kG8dVUEeiSs4DiSAeLPQ" x="40" y="80" width="83"/>
        </children>
        <children xmi:id="_NDfAoNXrEeiSs4DiSAeLPQ" type="State" element="_NDdLcNXrEeiSs4DiSAeLPQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_NDfnsNXrEeiSs4DiSAeLPQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_NDfnsdXrEeiSs4DiSAeLPQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_NDfnstXrEeiSs4DiSAeLPQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_NDfns9XrEeiSs4DiSAeLPQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_NDfntNXrEeiSs4DiSAeLPQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_NDfntdXrEeiSs4DiSAeLPQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_NDfnttXrEeiSs4DiSAeLPQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_NDfAodXrEeiSs4DiSAeLPQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_NDfAotXrEeiSs4DiSAeLPQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_NDfnt9XrEeiSs4DiSAeLPQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_NDfAo9XrEeiSs4DiSAeLPQ" x="32" y="202" width="97" height="78"/>
        </children>
        <children xmi:id="_fHcaMN6PEeiXB7rXcoDgIg" type="State" element="_fHZ98N6PEeiXB7rXcoDgIg">
          <children xsi:type="notation:DecorationNode" xmi:id="_fHdoUN6PEeiXB7rXcoDgIg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_fHdoUd6PEeiXB7rXcoDgIg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_fHdoUt6PEeiXB7rXcoDgIg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_fHePYN6PEeiXB7rXcoDgIg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_fHePYd6PEeiXB7rXcoDgIg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_fHePYt6PEeiXB7rXcoDgIg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_fHe2cN6PEeiXB7rXcoDgIg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_fHcaMd6PEeiXB7rXcoDgIg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_fHcaMt6PEeiXB7rXcoDgIg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_fHe2cd6PEeiXB7rXcoDgIg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_fHcaM96PEeiXB7rXcoDgIg" x="225" y="202" width="78" height="78"/>
        </children>
        <children xmi:id="_lk2GAN6QEeiXB7rXcoDgIg" type="State" element="_lk034N6QEeiXB7rXcoDgIg">
          <children xsi:type="notation:DecorationNode" xmi:id="_lk2tEN6QEeiXB7rXcoDgIg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_lk2tEd6QEeiXB7rXcoDgIg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_lk2tEt6QEeiXB7rXcoDgIg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_lk2tE96QEeiXB7rXcoDgIg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_lk2tFN6QEeiXB7rXcoDgIg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_lk2tFd6QEeiXB7rXcoDgIg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_lk3UIN6QEeiXB7rXcoDgIg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_lk2GAd6QEeiXB7rXcoDgIg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_lk2GAt6QEeiXB7rXcoDgIg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_lk3UId6QEeiXB7rXcoDgIg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_lk2GA96QEeiXB7rXcoDgIg" x="231" y="80" width="72"/>
        </children>
        <children xmi:id="_xDUUcN6QEeiXB7rXcoDgIg" type="State" element="_xDTtYN6QEeiXB7rXcoDgIg">
          <children xsi:type="notation:DecorationNode" xmi:id="_xDUUdN6QEeiXB7rXcoDgIg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_xDUUdd6QEeiXB7rXcoDgIg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_xDUUdt6QEeiXB7rXcoDgIg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_xDU7gN6QEeiXB7rXcoDgIg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_xDU7gd6QEeiXB7rXcoDgIg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_xDU7gt6QEeiXB7rXcoDgIg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_xDU7g96QEeiXB7rXcoDgIg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_xDUUcd6QEeiXB7rXcoDgIg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_xDUUct6QEeiXB7rXcoDgIg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_xDU7hN6QEeiXB7rXcoDgIg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_xDUUc96QEeiXB7rXcoDgIg" x="358" y="82" width="97" height="53"/>
        </children>
        <children xmi:id="_8Ouc8N6QEeiXB7rXcoDgIg" type="State" element="_8OtO0N6QEeiXB7rXcoDgIg">
          <children xsi:type="notation:DecorationNode" xmi:id="_8Ouc9N6QEeiXB7rXcoDgIg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_8Ouc9d6QEeiXB7rXcoDgIg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_8Ouc9t6QEeiXB7rXcoDgIg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_8Ouc996QEeiXB7rXcoDgIg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_8Ouc-N6QEeiXB7rXcoDgIg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8Ouc-d6QEeiXB7rXcoDgIg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_8OvEAN6QEeiXB7rXcoDgIg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_8Ouc8d6QEeiXB7rXcoDgIg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_8Ouc8t6QEeiXB7rXcoDgIg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_8OvEAd6QEeiXB7rXcoDgIg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8Ouc896QEeiXB7rXcoDgIg" x="377" y="227"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_B4gckdVUEeiSs4DiSAeLPQ"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_B4fOcdVUEeiSs4DiSAeLPQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_B4gcktVUEeiSs4DiSAeLPQ" x="36" y="24" width="525" height="400"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_B4l8IdVUEeiSs4DiSAeLPQ" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_B4l8I9VUEeiSs4DiSAeLPQ" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_B4l8JNVUEeiSs4DiSAeLPQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_B4l8JdVUEeiSs4DiSAeLPQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_B4mjMNVUEeiSs4DiSAeLPQ" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_B4mjMdVUEeiSs4DiSAeLPQ"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_B4mjMtVUEeiSs4DiSAeLPQ" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_B4enYdVUEeiSs4DiSAeLPQ" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_B4enYtVUEeiSs4DiSAeLPQ"/>
    <edges xmi:id="_B4lVENVUEeiSs4DiSAeLPQ" type="Transition" element="_B4kG8tVUEeiSs4DiSAeLPQ" source="_B4hDodVUEeiSs4DiSAeLPQ" target="_B4iRwtVUEeiSs4DiSAeLPQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_B4lVFNVUEeiSs4DiSAeLPQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_B4lVFdVUEeiSs4DiSAeLPQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_B4l8INVUEeiSs4DiSAeLPQ" x="-11" y="7"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_B4lVEdVUEeiSs4DiSAeLPQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_B4lVE9VUEeiSs4DiSAeLPQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_B4lVEtVUEeiSs4DiSAeLPQ" points="[0, 7, 20, -70]$[0, 53, 20, -24]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_FuyxoNVUEeiSs4DiSAeLPQ" id="(0.22435897435897437,0.5)"/>
    </edges>
    <edges xmi:id="_iMTBYN6GEeiXB7rXcoDgIg" type="Transition" element="_iMP-EN6GEeiXB7rXcoDgIg" source="_B4iRwtVUEeiSs4DiSAeLPQ" target="_NDfAoNXrEeiSs4DiSAeLPQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_iMUPgN6GEeiXB7rXcoDgIg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_iMUPgd6GEeiXB7rXcoDgIg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_iMU2kN6GEeiXB7rXcoDgIg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_iMTBYd6GEeiXB7rXcoDgIg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_iMTocN6GEeiXB7rXcoDgIg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_iMTBYt6GEeiXB7rXcoDgIg" points="[-1, 24, 0, -110]$[-1, 98, 0, -36]"/>
    </edges>
    <edges xmi:id="_gi6SoN6PEeiXB7rXcoDgIg" type="Transition" element="_gi32YN6PEeiXB7rXcoDgIg" source="_NDfAoNXrEeiSs4DiSAeLPQ" target="_fHcaMN6PEeiXB7rXcoDgIg">
      <children xsi:type="notation:DecorationNode" xmi:id="_gi65sd6PEeiXB7rXcoDgIg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_gi65st6PEeiXB7rXcoDgIg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_gi65s96PEeiXB7rXcoDgIg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_gi6Sod6PEeiXB7rXcoDgIg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_gi65sN6PEeiXB7rXcoDgIg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_gi6Sot6PEeiXB7rXcoDgIg" points="[46, -4, -118, 3]$[166, -36, 2, -29]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_gi99AN6PEeiXB7rXcoDgIg" id="(0.24358974358974358,0.41025641025641024)"/>
    </edges>
    <edges xmi:id="_new1AN6QEeiXB7rXcoDgIg" type="Transition" element="_neu_0N6QEeiXB7rXcoDgIg" source="_fHcaMN6PEeiXB7rXcoDgIg" target="_lk2GAN6QEeiXB7rXcoDgIg">
      <children xsi:type="notation:DecorationNode" xmi:id="_new1BN6QEeiXB7rXcoDgIg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_nexcEN6QEeiXB7rXcoDgIg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_nexcEd6QEeiXB7rXcoDgIg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_new1Ad6QEeiXB7rXcoDgIg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_new1A96QEeiXB7rXcoDgIg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_new1At6QEeiXB7rXcoDgIg" points="[-9, -2, -12, 98]$[-30, -96, -33, 4]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_nez4UN6QEeiXB7rXcoDgIg" id="(0.5,0.038461538461538464)"/>
    </edges>
    <edges xmi:id="_yX7W8N6QEeiXB7rXcoDgIg" type="Transition" element="_yX6I0N6QEeiXB7rXcoDgIg" source="_lk2GAN6QEeiXB7rXcoDgIg" target="_xDUUcN6QEeiXB7rXcoDgIg">
      <children xsi:type="notation:DecorationNode" xmi:id="_yX7W9N6QEeiXB7rXcoDgIg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_yX7W9d6QEeiXB7rXcoDgIg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_yX7W9t6QEeiXB7rXcoDgIg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_yX7W8d6QEeiXB7rXcoDgIg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_yX7W896QEeiXB7rXcoDgIg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_yX7W8t6QEeiXB7rXcoDgIg" points="[13, -6, -71, 2]$[85, -25, 1, -17]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_yX9MIN6QEeiXB7rXcoDgIg" id="(0.8194444444444444,0.5660377358490566)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_yX9MId6QEeiXB7rXcoDgIg" id="(0.06340579710144927,0.3584905660377358)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
