<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_BGLXwDJxEei4wYSKB5uVqw" specification="&#xA;interface:&#xA;&#x9;operation sendSync(): integer&#xA;&#x9;operation sendFollowUp(): integer&#xA;&#x9;operation getPeriod(): integer&#xA;&#x9;in event syncSent&#xA;&#x9;var t: integer&#xA;&#x9;var errorCode: integer = 1" name="timesync_master">
    <regions xmi:id="_BGQQQDJxEei4wYSKB5uVqw" name="sync">
      <vertices xsi:type="sgraph:Entry" xmi:id="_BGVIwTJxEei4wYSKB5uVqw">
        <outgoingTransitions xmi:id="_tIUP8EAKEeiijtnb0GkCHA" specification="" target="_BGWW5DJxEei4wYSKB5uVqw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_BGWW5DJxEei4wYSKB5uVqw" specification="always /&#xD;&#xA;errorCode = sendSync()&#xD;&#xA;exit/&#xD;&#xA;errorCode = 1;&#xD;&#xA;t=getPeriod()" name="SendSync" incomingTransitions="_8RmkQD__Eeiijtnb0GkCHA _tIUP8EAKEeiijtnb0GkCHA">
        <outgoingTransitions xmi:id="_vLaG4D_7Eeiijtnb0GkCHA" specification="[errorCode == 0]" target="_Mo-DAD_6Eeiijtnb0GkCHA"/>
      </vertices>
      <vertices xsi:type="sgraph:Synchronization" xmi:id="_Mo-DAD_6Eeiijtnb0GkCHA" incomingTransitions="_vLaG4D_7Eeiijtnb0GkCHA">
        <outgoingTransitions xmi:id="_3Cf-8D_7Eeiijtnb0GkCHA" specification="" target="_twUeYD_6Eeiijtnb0GkCHA"/>
        <outgoingTransitions xmi:id="_ikFnwEAAEeiijtnb0GkCHA" specification="" target="_bmj08EAAEeiijtnb0GkCHA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_NbEOUD_6Eeiijtnb0GkCHA" name="S2">
        <regions xmi:id="_NbFccD_6Eeiijtnb0GkCHA" name="r1">
          <vertices xsi:type="sgraph:State" xmi:id="_twUeYD_6Eeiijtnb0GkCHA" specification="" name="wait" incomingTransitions="_3Cf-8D_7Eeiijtnb0GkCHA">
            <outgoingTransitions xmi:id="_bHtmwG2oEeimLIfvzgexXg" specification="syncSent" target="_V8xWcG2pEeimLIfvzgexXg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_V48oYG2TEeimLIfvzgexXg" name="ready" incomingTransitions="_FP3pYG2rEeimLIfvzgexXg">
            <outgoingTransitions xmi:id="_c5suUG2TEeimLIfvzgexXg" specification="" target="_0ura0D_-Eeiijtnb0GkCHA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_V8xWcG2pEeimLIfvzgexXg" specification="always /&#xD;&#xA;errorCode = sendFollowUp()&#xD;&#xA;exit/ errorCode = 1" name="SendFollowUp" incomingTransitions="_bHtmwG2oEeimLIfvzgexXg">
            <outgoingTransitions xmi:id="_FP3pYG2rEeimLIfvzgexXg" specification="[errorCode == 0]" target="_V48oYG2TEeimLIfvzgexXg"/>
          </vertices>
        </regions>
        <regions xmi:id="_NbFccT_6Eeiijtnb0GkCHA" name="r2">
          <vertices xsi:type="sgraph:State" xmi:id="_bmj08EAAEeiijtnb0GkCHA" name="wait" incomingTransitions="_ikFnwEAAEeiijtnb0GkCHA">
            <outgoingTransitions xmi:id="_oB61YG2SEeimLIfvzgexXg" specification="after t ms" target="_kMSAkG2SEeimLIfvzgexXg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_kMSAkG2SEeimLIfvzgexXg" name="ready" incomingTransitions="_oB61YG2SEeimLIfvzgexXg">
            <outgoingTransitions xmi:id="_YQd5YG2TEeimLIfvzgexXg" specification="" target="_0ura0D_-Eeiijtnb0GkCHA"/>
          </vertices>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:Synchronization" xmi:id="_0ura0D_-Eeiijtnb0GkCHA" incomingTransitions="_YQd5YG2TEeimLIfvzgexXg _c5suUG2TEeimLIfvzgexXg">
        <outgoingTransitions xmi:id="_8RmkQD__Eeiijtnb0GkCHA" specification="always" target="_BGWW5DJxEei4wYSKB5uVqw"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_BGPpMDJxEei4wYSKB5uVqw" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_BGLXwDJxEei4wYSKB5uVqw" measurementUnit="Pixel">
    <children xmi:id="_BGReYDJxEei4wYSKB5uVqw" type="Region" element="_BGQQQDJxEei4wYSKB5uVqw">
      <children xsi:type="notation:DecorationNode" xmi:id="_BGT6oDJxEei4wYSKB5uVqw" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_BGT6oTJxEei4wYSKB5uVqw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_BGT6ojJxEei4wYSKB5uVqw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_BGUhsDJxEei4wYSKB5uVqw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_kvcQITKOEei4wYSKB5uVqw" type="Entry" element="_BGVIwTJxEei4wYSKB5uVqw">
          <children xmi:id="_kvcQIjKOEei4wYSKB5uVqw" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_kvcQIzKOEei4wYSKB5uVqw" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_kvcQJDKOEei4wYSKB5uVqw"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_kvcQJTKOEei4wYSKB5uVqw"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_kvcQJjKOEei4wYSKB5uVqw" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_kvcQJzKOEei4wYSKB5uVqw"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_kvcQKDKOEei4wYSKB5uVqw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_kvcQKTKOEei4wYSKB5uVqw" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_kvcQKjKOEei4wYSKB5uVqw" x="117" y="134" width="15" height="15"/>
        </children>
        <children xmi:id="_kvcQFTKOEei4wYSKB5uVqw" type="State" element="_BGWW5DJxEei4wYSKB5uVqw">
          <children xsi:type="notation:DecorationNode" xmi:id="_kvcQFjKOEei4wYSKB5uVqw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_kvcQFzKOEei4wYSKB5uVqw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_kvcQGDKOEei4wYSKB5uVqw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_kvcQGTKOEei4wYSKB5uVqw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_kvcQGjKOEei4wYSKB5uVqw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_kvcQGzKOEei4wYSKB5uVqw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_kvcQHDKOEei4wYSKB5uVqw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_kvcQHTKOEei4wYSKB5uVqw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_kvcQHjKOEei4wYSKB5uVqw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_kvcQHzKOEei4wYSKB5uVqw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_kvcQIDKOEei4wYSKB5uVqw" x="95" y="220" width="194" height="122"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_MpAfQD_6Eeiijtnb0GkCHA" type="Synchronization" element="_Mo-DAD_6Eeiijtnb0GkCHA" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MpAfQT_6Eeiijtnb0GkCHA" x="296" y="160" width="8" height="32"/>
        </children>
        <children xmi:id="_NbGqkD_6Eeiijtnb0GkCHA" type="State" element="_NbEOUD_6Eeiijtnb0GkCHA">
          <children xsi:type="notation:DecorationNode" xmi:id="_NbH4sD_6Eeiijtnb0GkCHA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_NbH4sT_6Eeiijtnb0GkCHA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_NbH4sj_6Eeiijtnb0GkCHA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_NbIfwD_6Eeiijtnb0GkCHA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_NbIfwT_6Eeiijtnb0GkCHA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_NbJG0D_6Eeiijtnb0GkCHA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_NbJG0T_6Eeiijtnb0GkCHA" type="StateFigureCompartment">
            <children xmi:id="_I-npcEAAEeiijtnb0GkCHA" type="Region" element="_NbFccD_6Eeiijtnb0GkCHA">
              <children xsi:type="notation:DecorationNode" xmi:id="_I-npcUAAEeiijtnb0GkCHA" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_I-npckAAEeiijtnb0GkCHA"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_I-npc0AAEeiijtnb0GkCHA"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_I-npdEAAEeiijtnb0GkCHA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_twWTkD_6Eeiijtnb0GkCHA" type="State" element="_twUeYD_6Eeiijtnb0GkCHA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_twWTlD_6Eeiijtnb0GkCHA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_twWTlT_6Eeiijtnb0GkCHA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_twWTlj_6Eeiijtnb0GkCHA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_twWTlz_6Eeiijtnb0GkCHA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_twWTmD_6Eeiijtnb0GkCHA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_twW6oD_6Eeiijtnb0GkCHA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_twW6oT_6Eeiijtnb0GkCHA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_twWTkT_6Eeiijtnb0GkCHA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_twWTkj_6Eeiijtnb0GkCHA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_twW6oj_6Eeiijtnb0GkCHA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_twWTkz_6Eeiijtnb0GkCHA" x="-15" y="8"/>
                </children>
                <children xmi:id="_V492gG2TEeimLIfvzgexXg" type="State" element="_V48oYG2TEeimLIfvzgexXg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_V4-dkG2TEeimLIfvzgexXg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_V4-dkW2TEeimLIfvzgexXg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_V4_EoG2TEeimLIfvzgexXg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_V4_EoW2TEeimLIfvzgexXg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_V4_Eom2TEeimLIfvzgexXg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_V4_Eo22TEeimLIfvzgexXg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_V4_EpG2TEeimLIfvzgexXg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_V492gW2TEeimLIfvzgexXg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_V492gm2TEeimLIfvzgexXg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_V4_EpW2TEeimLIfvzgexXg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_V492g22TEeimLIfvzgexXg" x="247" y="8"/>
                </children>
                <children xmi:id="_V8ykkG2pEeimLIfvzgexXg" type="State" element="_V8xWcG2pEeimLIfvzgexXg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_V8yklG2pEeimLIfvzgexXg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_V8yklW2pEeimLIfvzgexXg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_V8yklm2pEeimLIfvzgexXg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_V8ykl22pEeimLIfvzgexXg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_V8zLoG2pEeimLIfvzgexXg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_V8zLoW2pEeimLIfvzgexXg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_V8zysG2pEeimLIfvzgexXg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_V8ykkW2pEeimLIfvzgexXg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_V8ykkm2pEeimLIfvzgexXg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_V8zysW2pEeimLIfvzgexXg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_V8ykk22pEeimLIfvzgexXg" x="30" y="52" width="209" height="78"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_I-npgUAAEeiijtnb0GkCHA"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_I-npgkAAEeiijtnb0GkCHA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_I-npg0AAEeiijtnb0GkCHA"/>
            </children>
            <children xmi:id="_NbP0gD_6Eeiijtnb0GkCHA" type="Region" element="_NbFccT_6Eeiijtnb0GkCHA">
              <children xsi:type="notation:DecorationNode" xmi:id="_NbQbkD_6Eeiijtnb0GkCHA" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_NbQbkT_6Eeiijtnb0GkCHA"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_NbQbkj_6Eeiijtnb0GkCHA"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_NbQbkz_6Eeiijtnb0GkCHA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_bmkcAEAAEeiijtnb0GkCHA" type="State" element="_bmj08EAAEeiijtnb0GkCHA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_bmkcBEAAEeiijtnb0GkCHA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_bmkcBUAAEeiijtnb0GkCHA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_bmkcBkAAEeiijtnb0GkCHA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_bmkcB0AAEeiijtnb0GkCHA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_bmkcCEAAEeiijtnb0GkCHA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_bmkcCUAAEeiijtnb0GkCHA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_bmlDEEAAEeiijtnb0GkCHA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_bmkcAUAAEeiijtnb0GkCHA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_bmkcAkAAEeiijtnb0GkCHA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_bmlDEUAAEeiijtnb0GkCHA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_bmkcA0AAEeiijtnb0GkCHA" x="-2" y="-36"/>
                </children>
                <children xmi:id="_kMnXwG2SEeimLIfvzgexXg" type="State" element="_kMSAkG2SEeimLIfvzgexXg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_kM32cG2SEeimLIfvzgexXg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_kM32cW2SEeimLIfvzgexXg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_kM4dgG2SEeimLIfvzgexXg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_kM4dgW2SEeimLIfvzgexXg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_kM5EkG2SEeimLIfvzgexXg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_kM5EkW2SEeimLIfvzgexXg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_kM5Ekm2SEeimLIfvzgexXg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_kMnXwW2SEeimLIfvzgexXg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_kMnXwm2SEeimLIfvzgexXg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_kM5roG2SEeimLIfvzgexXg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_kMnXw22SEeimLIfvzgexXg" x="179" y="-36"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_NbQblD_6Eeiijtnb0GkCHA"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_NbP0gT_6Eeiijtnb0GkCHA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_NbP0gj_6Eeiijtnb0GkCHA"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_NbGqkT_6Eeiijtnb0GkCHA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_NbGqkj_6Eeiijtnb0GkCHA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_NbJG0j_6Eeiijtnb0GkCHA" name="isHorizontal"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_NbGqkz_6Eeiijtnb0GkCHA" x="353" y="60" width="368" height="335"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_0usB4D_-Eeiijtnb0GkCHA" type="Synchronization" element="_0ura0D_-Eeiijtnb0GkCHA" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_0usB4T_-Eeiijtnb0GkCHA" x="731" y="127" width="36" height="8"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BGUhsTJxEei4wYSKB5uVqw"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_BGReYTJxEei4wYSKB5uVqw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BGVIwDJxEei4wYSKB5uVqw" x="268" y="40" width="828" height="480"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_BGdrozJxEei4wYSKB5uVqw" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_BGeSsTJxEei4wYSKB5uVqw" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_BGeSsjJxEei4wYSKB5uVqw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_BGeSszJxEei4wYSKB5uVqw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_BGeStDJxEei4wYSKB5uVqw" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BGeStTJxEei4wYSKB5uVqw"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BGe5wDJxEei4wYSKB5uVqw" x="5" y="40" width="257" height="225"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_BGPpMTJxEei4wYSKB5uVqw" name="inlineDefinitionSection" booleanValue="true"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_BGPpMjJxEei4wYSKB5uVqw"/>
    <edges xmi:id="_vLb8ED_7Eeiijtnb0GkCHA" type="Transition" element="_vLaG4D_7Eeiijtnb0GkCHA" source="_kvcQFTKOEei4wYSKB5uVqw" target="_MpAfQD_6Eeiijtnb0GkCHA">
      <children xsi:type="notation:DecorationNode" xmi:id="_vLcjIT_7Eeiijtnb0GkCHA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_vLcjIj_7Eeiijtnb0GkCHA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_vLcjIz_7Eeiijtnb0GkCHA" x="8" y="-8"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_vLb8ET_7Eeiijtnb0GkCHA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_vLcjID_7Eeiijtnb0GkCHA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_vLb8Ej_7Eeiijtnb0GkCHA" points="[-9, -30, -84, 45]$[-9, -74, -84, 1]$[74, -74, -1, 1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_vLe_YD_7Eeiijtnb0GkCHA" id="(0.6765873015873016,0.26084203861981636)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_vLe_YT_7Eeiijtnb0GkCHA" id="(0.125,0.46875)"/>
    </edges>
    <edges xmi:id="_3ChNED_7Eeiijtnb0GkCHA" type="Transition" element="_3Cf-8D_7Eeiijtnb0GkCHA" source="_MpAfQD_6Eeiijtnb0GkCHA" target="_twWTkD_6Eeiijtnb0GkCHA">
      <children xsi:type="notation:DecorationNode" xmi:id="_3ChNFD_7Eeiijtnb0GkCHA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_3ChNFT_7Eeiijtnb0GkCHA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_3Ch0ID_7Eeiijtnb0GkCHA"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_3ChNET_7Eeiijtnb0GkCHA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_3ChNEz_7Eeiijtnb0GkCHA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_3ChNEj_7Eeiijtnb0GkCHA" points="[2, -14, -70, 9]$[68, -14, -4, 9]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_4rQFcD_7Eeiijtnb0GkCHA" id="(0.75,0.8125)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_3CjCQD_7Eeiijtnb0GkCHA" id="(0.10666666666666665,0.6037735849056604)"/>
    </edges>
    <edges xmi:id="_8RnLUD__Eeiijtnb0GkCHA" type="Transition" element="_8RmkQD__Eeiijtnb0GkCHA" source="_0usB4D_-Eeiijtnb0GkCHA" target="_kvcQFTKOEei4wYSKB5uVqw">
      <children xsi:type="notation:DecorationNode" xmi:id="_8RnyYD__Eeiijtnb0GkCHA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_8RnyYT__Eeiijtnb0GkCHA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_8RnyYj__Eeiijtnb0GkCHA" x="-100" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_8RnLUT__Eeiijtnb0GkCHA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_8RnLUz__Eeiijtnb0GkCHA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_8RnLUj__Eeiijtnb0GkCHA" points="[12, -16, 554, -104]$[12, -93, 554, -181]$[-582, -93, -40, -181]$[-582, 77, -40, -11]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_w76o8EAAEeiijtnb0GkCHA" id="(0.1111111111111111,2.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_8RpAgD__Eeiijtnb0GkCHA" id="(0.5228174603174603,0.09781576448243115)"/>
    </edges>
    <edges xmi:id="_ikG14EAAEeiijtnb0GkCHA" type="Transition" element="_ikFnwEAAEeiijtnb0GkCHA" source="_MpAfQD_6Eeiijtnb0GkCHA" target="_bmkcAEAAEeiijtnb0GkCHA">
      <children xsi:type="notation:DecorationNode" xmi:id="_ikG15EAAEeiijtnb0GkCHA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ikG15UAAEeiijtnb0GkCHA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ikHc8EAAEeiijtnb0GkCHA" x="-13" y="49"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ikG14UAAEeiijtnb0GkCHA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ikG140AAEeiijtnb0GkCHA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ikG14kAAEeiijtnb0GkCHA" points="[4, 8, -73, -161]$[23, 8, -54, -161]$[23, 164, -54, -5]$[71, 164, -6, -5]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_MZae8G2rEeimLIfvzgexXg" id="(0.5,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ikIrEUAAEeiijtnb0GkCHA" id="(0.16,0.660377358490566)"/>
    </edges>
    <edges xmi:id="_bHvb_G2oEeimLIfvzgexXg" type="Transition" element="_bHtmwG2oEeimLIfvzgexXg" source="_twWTkD_6Eeiijtnb0GkCHA" target="_V8ykkG2pEeimLIfvzgexXg">
      <children xsi:type="notation:DecorationNode" xmi:id="_bHvb_W2oEeimLIfvzgexXg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_bHvb_m2oEeimLIfvzgexXg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_bHvb_22oEeimLIfvzgexXg" x="-3" y="-18"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_bHvcAG2oEeimLIfvzgexXg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_bHvcAW2oEeimLIfvzgexXg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_bHvcAm2oEeimLIfvzgexXg" points="[4, 4, -44, -56]$[78, 4, 30, -56]$[78, 22, 30, -38]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_bHvcA22oEeimLIfvzgexXg" id="(0.9272727272727274,0.5283018867924528)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_bHvcBG2oEeimLIfvzgexXg" id="(0.042647058823529406,0.526584629672626)"/>
    </edges>
    <edges xmi:id="_tIWFIEAKEeiijtnb0GkCHA" type="Transition" element="_tIUP8EAKEeiijtnb0GkCHA" source="_kvcQITKOEei4wYSKB5uVqw" target="_kvcQFTKOEei4wYSKB5uVqw">
      <children xsi:type="notation:DecorationNode" xmi:id="_tIWsMEAKEeiijtnb0GkCHA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_tIWsMUAKEeiijtnb0GkCHA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_tIWsMkAKEeiijtnb0GkCHA" x="-4"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_tIWFIUAKEeiijtnb0GkCHA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_tIWFI0AKEeiijtnb0GkCHA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_tIWFIkAKEeiijtnb0GkCHA" points="[8, 3, -9, -155]$[8, 80, -9, -78]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_4pmFYG2qEeimLIfvzgexXg" id="(0.5,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_tIYhYEAKEeiijtnb0GkCHA" id="(0.17939814814814814,0.6684077239632795)"/>
    </edges>
    <edges xmi:id="_oB8qkG2SEeimLIfvzgexXg" type="Transition" element="_oB61YG2SEeimLIfvzgexXg" source="_bmkcAEAAEeiijtnb0GkCHA" target="_kMnXwG2SEeimLIfvzgexXg">
      <children xsi:type="notation:DecorationNode" xmi:id="_oB94sG2SEeimLIfvzgexXg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_oB94sW2SEeimLIfvzgexXg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_oB94sm2SEeimLIfvzgexXg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_oB8qkW2SEeimLIfvzgexXg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_oB9RoG2SEeimLIfvzgexXg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_oB8qkm2SEeimLIfvzgexXg" points="[5, 23, -163, -1]$[143, 23, -25, -1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_oCAU8G2SEeimLIfvzgexXg" id="(0.8958333333333334,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_oil5gG2SEeimLIfvzgexXg" id="(0.5,0.5)"/>
    </edges>
    <edges xmi:id="_YQfHgG2TEeimLIfvzgexXg" type="Transition" element="_YQd5YG2TEeimLIfvzgexXg" source="_kMnXwG2SEeimLIfvzgexXg" target="_0usB4D_-Eeiijtnb0GkCHA">
      <children xsi:type="notation:DecorationNode" xmi:id="_YQfukG2TEeimLIfvzgexXg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_YQfukW2TEeimLIfvzgexXg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_YQfukm2TEeimLIfvzgexXg" x="-28" y="-21"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_YQfHgW2TEeimLIfvzgexXg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_YQfHg22TEeimLIfvzgexXg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_YQfHgm2TEeimLIfvzgexXg" points="[26, -8, -157, 192]$[177, -8, -6, 192]$[177, -197, -6, 3]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_YQhjwG2TEeimLIfvzgexXg" id="(0.7777777777777778,0.625)"/>
    </edges>
    <edges xmi:id="_c5t8cG2TEeimLIfvzgexXg" type="Transition" element="_c5suUG2TEeimLIfvzgexXg" source="_V492gG2TEeimLIfvzgexXg" target="_0usB4D_-Eeiijtnb0GkCHA">
      <children xsi:type="notation:DecorationNode" xmi:id="_c5ujgG2TEeimLIfvzgexXg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_c5ujgW2TEeimLIfvzgexXg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_c5ujgm2TEeimLIfvzgexXg" x="-2" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_c5t8cW2TEeimLIfvzgexXg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_c5t8c22TEeimLIfvzgexXg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_c5t8cm2TEeimLIfvzgexXg" points="[26, -5, -60, 20]$[84, -5, -2, 20]$[84, -24, -2, 1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_IJHHYG2rEeimLIfvzgexXg" id="(0.5,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_c5vxoG2TEeimLIfvzgexXg" id="(0.3333333333333333,0.875)"/>
    </edges>
    <edges xmi:id="_FP4QcG2rEeimLIfvzgexXg" type="Transition" element="_FP3pYG2rEeimLIfvzgexXg" source="_V8ykkG2pEeimLIfvzgexXg" target="_V492gG2TEeimLIfvzgexXg">
      <children xsi:type="notation:DecorationNode" xmi:id="_FP4QdG2rEeimLIfvzgexXg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_FP43gG2rEeimLIfvzgexXg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_FP43gW2rEeimLIfvzgexXg" x="1" y="-11"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_FP4QcW2rEeimLIfvzgexXg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_FP4Qc22rEeimLIfvzgexXg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_FP4Qcm2rEeimLIfvzgexXg" points="[10, -3, -114, 40]$[10, -36, -114, 7]$[117, -36, -7, 7]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_FP5ekG2rEeimLIfvzgexXg" id="(0.4217320261437909,0.05015091711167866)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_FP5ekW2rEeimLIfvzgexXg" id="(0.14285714285714285,0.32075471698113206)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
