<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_BGLXwDJxEei4wYSKB5uVqw" specification="" name="timesync_slave">
    <regions xmi:id="_1zeh8G2sEeimLIfvzgexXg" name="sync">
      <vertices xsi:type="sgraph:Entry" xmi:id="_EXj2AG4nEeimLIfvzgexXg">
        <outgoingTransitions xmi:id="_GER2gG4nEeimLIfvzgexXg" specification="" target="_E9JPUG4nEeimLIfvzgexXg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_E9JPUG4nEeimLIfvzgexXg" name="a" incomingTransitions="_GER2gG4nEeimLIfvzgexXg"/>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_BGPpMDJxEei4wYSKB5uVqw" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_BGLXwDJxEei4wYSKB5uVqw" measurementUnit="Pixel">
    <children xsi:type="notation:Shape" xmi:id="_BGdrozJxEei4wYSKB5uVqw" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_BGeSsTJxEei4wYSKB5uVqw" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_BGeSsjJxEei4wYSKB5uVqw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_BGeSszJxEei4wYSKB5uVqw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_BGeStDJxEei4wYSKB5uVqw" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BGeStTJxEei4wYSKB5uVqw"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_BGe5wDJxEei4wYSKB5uVqw" x="5" y="40" width="257" height="225"/>
    </children>
    <children xmi:id="_1zfJAG2sEeimLIfvzgexXg" type="Region" element="_1zeh8G2sEeimLIfvzgexXg">
      <children xsi:type="notation:DecorationNode" xmi:id="_1zfJA22sEeimLIfvzgexXg" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_1zfJBG2sEeimLIfvzgexXg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_1zfJBW2sEeimLIfvzgexXg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_1zfwEG2sEeimLIfvzgexXg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_EXougG4nEeimLIfvzgexXg" type="Entry" element="_EXj2AG4nEeimLIfvzgexXg">
          <children xmi:id="_EXp8oG4nEeimLIfvzgexXg" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_EXp8o24nEeimLIfvzgexXg" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_EXp8pG4nEeimLIfvzgexXg"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_EXp8pW4nEeimLIfvzgexXg"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_EXp8oW4nEeimLIfvzgexXg" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EXp8om4nEeimLIfvzgexXg"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_EXougW4nEeimLIfvzgexXg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_EXougm4nEeimLIfvzgexXg" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EXoug24nEeimLIfvzgexXg" x="114" y="33"/>
        </children>
        <children xmi:id="_E9KdcG4nEeimLIfvzgexXg" type="State" element="_E9JPUG4nEeimLIfvzgexXg">
          <children xsi:type="notation:DecorationNode" xmi:id="_E9KddG4nEeimLIfvzgexXg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_E9KddW4nEeimLIfvzgexXg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_E9Kddm4nEeimLIfvzgexXg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_E9Kdd24nEeimLIfvzgexXg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_E9KdeG4nEeimLIfvzgexXg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_E9KdeW4nEeimLIfvzgexXg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_E9LEgG4nEeimLIfvzgexXg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_E9KdcW4nEeimLIfvzgexXg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_E9Kdcm4nEeimLIfvzgexXg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_E9LEgW4nEeimLIfvzgexXg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_E9Kdc24nEeimLIfvzgexXg" x="161" y="99"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1zfwEW2sEeimLIfvzgexXg"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_1zfJAW2sEeimLIfvzgexXg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_1zfJAm2sEeimLIfvzgexXg" x="300" y="40" width="361" height="225"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_BGPpMTJxEei4wYSKB5uVqw" name="inlineDefinitionSection" booleanValue="true"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_BGPpMjJxEei4wYSKB5uVqw"/>
    <edges xmi:id="_GESdkG4nEeimLIfvzgexXg" type="Transition" element="_GER2gG4nEeimLIfvzgexXg" source="_EXougG4nEeimLIfvzgexXg" target="_E9KdcG4nEeimLIfvzgexXg">
      <children xsi:type="notation:DecorationNode" xmi:id="_GESdlG4nEeimLIfvzgexXg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_GESdlW4nEeimLIfvzgexXg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_GESdlm4nEeimLIfvzgexXg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_GESdkW4nEeimLIfvzgexXg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_GESdk24nEeimLIfvzgexXg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_GESdkm4nEeimLIfvzgexXg" points="[3, 7, -42, -86]$[46, 107, 1, 14]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_GEUSwG4nEeimLIfvzgexXg" id="(0.15,0.7169811320754716)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
