<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_YW64QL84EeiHoY_yRzurPg" specification="@EventDriven&#xA;// Use the event driven execution model.&#xA;// Runs a run-to-completion step&#xA;// each time an event is raised.&#xA;// Switch to cycle based behavior&#xA;// by specifying '@CycleBased(200)'&#xA;// instead.&#xA;&#xA;@ChildFirstExecution&#xA;// In composite states, execute&#xA;// child states first.&#xA;// @ParentFirstExecution does the opposite.&#xA;&#xA;import: &quot;radio.h&quot;&#xA;&#xA;interface:&#xA;// Define events&#xA;// and variables here. &#xA;// Use CTRL + Space for content assist." name="radio" domainID="com.yakindu.domain.c">
    <regions xmi:id="_YW7fWb84EeiHoY_yRzurPg" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_YW8tcb84EeiHoY_yRzurPg">
        <outgoingTransitions xmi:id="_YW_wxb84EeiHoY_yRzurPg" target="_YW-iob84EeiHoY_yRzurPg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_YW-iob84EeiHoY_yRzurPg" specification="entry/&#xD;&#xA;&#xD;&#xA;ezradio_hal_GpioInit(NULL, false);&#xD;&#xA;ezradio_hal_SpiInit();&#xD;&#xA;&#xD;&#xA;/* Hardware reset the chip */&#xD;&#xA;ezradio_reset()" name="init" incomingTransitions="_YW_wxb84EeiHoY_yRzurPg"/>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_YW7fVr84EeiHoY_yRzurPg" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_YW64QL84EeiHoY_yRzurPg" measurementUnit="Pixel">
    <children xmi:id="_YW7fWr84EeiHoY_yRzurPg" type="Region" element="_YW7fWb84EeiHoY_yRzurPg">
      <children xsi:type="notation:DecorationNode" xmi:id="_YW8GYL84EeiHoY_yRzurPg" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_YW8GYb84EeiHoY_yRzurPg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_YW8GYr84EeiHoY_yRzurPg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_YW8GY784EeiHoY_yRzurPg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_YW9UgL84EeiHoY_yRzurPg" type="Entry" element="_YW8tcb84EeiHoY_yRzurPg">
          <children xmi:id="_YW97kL84EeiHoY_yRzurPg" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_YW97k784EeiHoY_yRzurPg" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_YW97lL84EeiHoY_yRzurPg"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_YW97lb84EeiHoY_yRzurPg"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_YW97kb84EeiHoY_yRzurPg" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_YW97kr84EeiHoY_yRzurPg"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_YW9Ugb84EeiHoY_yRzurPg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_YW9Ugr84EeiHoY_yRzurPg" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_YW-ioL84EeiHoY_yRzurPg" x="70" y="20"/>
        </children>
        <children xmi:id="_YW-ipL84EeiHoY_yRzurPg" type="State" element="_YW-iob84EeiHoY_yRzurPg">
          <children xsi:type="notation:DecorationNode" xmi:id="_YW_JsL84EeiHoY_yRzurPg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_YW_Jsb84EeiHoY_yRzurPg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_YW_Jsr84EeiHoY_yRzurPg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_YW_Js784EeiHoY_yRzurPg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_YW_wwL84EeiHoY_yRzurPg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_YW_wwb84EeiHoY_yRzurPg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_YW_wwr84EeiHoY_yRzurPg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_YW-ipb84EeiHoY_yRzurPg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_YW-ipr84EeiHoY_yRzurPg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_YW_ww784EeiHoY_yRzurPg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_YW_wxL84EeiHoY_yRzurPg" x="45" y="82" width="258" height="198"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_YW8GZL84EeiHoY_yRzurPg"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_YW7fW784EeiHoY_yRzurPg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_YW8tcL84EeiHoY_yRzurPg" x="220" y="10" width="400" height="400"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_YXDbIL84EeiHoY_yRzurPg" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_YXECML84EeiHoY_yRzurPg" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_YXECMb84EeiHoY_yRzurPg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_YXECMr84EeiHoY_yRzurPg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_YXECM784EeiHoY_yRzurPg" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_YXECNL84EeiHoY_yRzurPg"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_YXEpQL84EeiHoY_yRzurPg" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_YW7fV784EeiHoY_yRzurPg" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_YW7fWL84EeiHoY_yRzurPg"/>
    <edges xmi:id="_YXA-4L84EeiHoY_yRzurPg" type="Transition" element="_YW_wxb84EeiHoY_yRzurPg" source="_YW9UgL84EeiHoY_yRzurPg" target="_YW-ipL84EeiHoY_yRzurPg">
      <children xsi:type="notation:DecorationNode" xmi:id="_YXA-5L84EeiHoY_yRzurPg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_YXA-5b84EeiHoY_yRzurPg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_YXBl8L84EeiHoY_yRzurPg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_YXA-4b84EeiHoY_yRzurPg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_YXA-4784EeiHoY_yRzurPg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_YXA-4r84EeiHoY_yRzurPg" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_bqzq4L84EeiHoY_yRzurPg" id="(0.08893280632411067,0.12435233160621761)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
